# ----- FastAPI -----
JWT_SECRET=your-super-secret-jwt-key-change-this    # CHANGE THIS! JWT_SECRET, run: openssl rand -base64 32

# ----- Nginx -----
DOMAIN=example.com                # Domain, used in path to letsencrypt certificate files: /letsencrypt/live/example.com/...
SERVER_NAME=panel.example.com     # Server name, used in link to the panel: https://panel.example.com/login

# ----- Telegram Bot -----
#TELEGRAM_BOT_TOKEN=1234567891:AAAbbbc_QQQQwwwweeee_TTrre-DD9922qq  # Telegram bot token (@BotFather)
#ADMIN_IDS=12345678910                  # Telegram ID's (separated by a comma)
#BOT_USERNAME=admin                     # Administrator's username in panel
#BOT_PASSWORD=mylongbigpassword123      # Administrator's password in panel

# ----- Debug -----
#FRONTEND_DIR=/frontend     # Change frontend mount dir (out-of-docker debug only)
#BACKEND_DIR=/app           # Change backend mount dir (out-of-docker debug only)
#DEBUG=false                # Enable debug logging to console ("true" or "false")
