# ----- FastAPI -----
JWT_SECRET=your-super-secret-jwt-key-change-this    # CHANGE THIS! JWT_SECRET, run: openssl rand -base64 32

# ----- PostgresDB -----
DATABASE_URL=postgresql://amnezia:YOUR-LONG-BIG-PASSWORD@postgres:5432/apanel_db      # CHANGE THIS! Your big long password for PostgresDB in link, ALSO CHANGE IT IN DOCKER-COMPOSE.YML! They must match!

# ----- Nginx -----
DOMAIN=example.com                # Domain, used in path to letsencrypt certificate files: /letsencrypt/live/example.com/...    IF YOU'RE NOT USING HTTPS - LEAVE EXAMPLE DOMAIN!
SERVER_NAME=panel.example.com     # Server name, used in link to the panel: https://panel.example.com/login   IF YOU'RE USING HTTP - LEAVE EXAMPLE DOMAIN! IF HTTPS - SET YOUR DOMAIN!

# ----- Telegram Bot -----
#TELEGRAM_BOT_TOKEN=1234567891:AAAbbbc_QQQQwwwweeee_TTrre-DD9922qq  # Telegram bot token (@BotFather)
#ADMIN_IDS=12345678910                  # Telegram ID's (separated by a comma)
#BOT_USERNAME=admin                     # Administrator's username in panel
#BOT_PASSWORD=mylongbigpassword123      # Administrator's password in panel

# ----- Debug -----
#FRONTEND_DIR=/frontend     # Change frontend mount dir (out-of-docker debug only)
#BACKEND_DIR=/app           # Change backend mount dir (out-of-docker debug only)
#DEBUG=false                # Enable debug logging to console ("true" or "false")
