# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/

# Database
*.db
*.sqlite
*.sqlite3
/data/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.tar
*.gz

# Nginx
nginx.conf

#SSH
/keys/*

!.gitkeep