services:
  amnezia-panel:
    build: ./backend
    container_name: amnezia-panel
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    cap_add:
      - NET_ADMIN
      - NET_RAW
    ports:
      - "8080:8000"
    volumes:
      - ./frontend:/frontend
      - ./backend:/app
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - DATABASE_URL=${DATABASE_URL}
      - FRONTEND_DIR=${FRONTEND_DIR}
      - BACKEND_DIR=${BACKEND_DIR}
      - DEBUG=${DEBUG}
    networks:
        - panel-network
    expose:
        - "8000"

# ----- Posgtres -----
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: amnezia
      POSTGRES_PASSWORD: YOUR-LONG-BIG-BOT_PASSWORD              # CHANGE THIS!
      POSTGRES_DB: apanel_db
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    # ports:
    #   - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U amnezia"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - panel-network
# -------------------------------------------------------

# ----- Nginx can be disabled and replaced with external proxy solution by commenting this block -----
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf.template:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    environment:
      - DOMAIN=${DOMAIN}
      - SERVER_NAME=${SERVER_NAME}
    networks:
      - panel-network
    depends_on:
      - amnezia-panel
    command: >
      /bin/sh -c "envsubst '$$DOMAIN $$SERVER_NAME' < /etc/nginx/nginx.conf.template > /etc/nginx/nginx.conf && nginx -g 'daemon off;'"
# -------------------------------------------------------

# ----- Telegram bot can be enabled when required commenting out this block -----
  # telegram-bot:
  #   build: ./bot
  #   container_name: telegram-bot
  #   restart: unless-stopped
  #   volumes:
  #     - ./bot:/bot
  #   environment:
  #     - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
  #     - PANEL_URL=http://amnezia-panel:8000
  #     - ADMIN_IDS=${ADMIN_IDS}
  #     - BOT_USERNAME=${BOT_USERNAME}
  #     - BOT_PASSWORD=${BOT_PASSWORD}
  #   networks:
  #     - panel-network
  #   depends_on:
  #     - amnezia-panel
# -------------------------------------------------------

# ----- Prometheus can be disabled when required by commenting this block -----
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    user: root
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=30d'
      - '--web.enable-lifecycle'
    networks:
      - panel-network

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    networks:
      - panel-network

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: unless-stopped
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - panel-network

  speedtest-exporter:
    image: jraviles/prometheus_speedtest:latest
    container_name: speedtest-exporter
    restart: unless-stopped
    networks:
      - panel-network
    command: ["--port=9516", "--address=0.0.0.0"]
# -------------------------------------------------------

networks:
  panel-network:
    driver: bridge