services:
  amnezia-panel:
    build: ./backend
    container_name: amnezia-panel
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - NET_RAW
    ports:
      - "8080:8000"
    volumes:
      - ./frontend:/frontend
      - ./backend:/app
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - FRONTEND_DIR=${FRONTEND_DIR}
      - BACKEND_DIR=${BACKEND_DIR}
      - DEBUG=${DEBUG}
    networks:
        - panel-network
    expose:
        - "8000"
    
# ----- Nginx can be disabled and replaced with external proxy solution by commenting this block -----
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    environment:
      - DOMAIN=${DOMAIN}
      - SERVER_NAME=${SERVER_NAME}
    networks:
      - panel-network
    depends_on:
      - amnezia-panel
      command: >
        /bin/sh -c "envsubst '$$DOMAIN $$SERVER_NAME' < /etc/nginx/nginx.conf.template > /etc/nginx/nginx.conf && nginx -g 'daemon off;'"
# -------------------------------------------------------

# ----- Telegram bot can be enabled when required commenting out this block -----
  # telegram-bot:
  #   build: ./bot
  #   container_name: telegram-bot
  #   restart: unless-stopped
  #   volumes:
  #     - ./bot:/bot
  #   environment:
  #     - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
  #     - PANEL_URL=http://amnezia-panel:8000
  #     - ADMIN_IDS=${ADMIN_IDS}
  #     - BOT_USERNAME=${BOT_USERNAME}
  #     - BOT_PASSWORD=${BOT_PASSWORD}
  #   networks:
  #     - panel-network
  #   depends_on:
  #     - amnezia-panel
# -------------------------------------------------------

networks:
  panel-network:
    driver: bridge